.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  background: url(../../../images/kaufman-triangle.svg) no-repeat right bottom /
    contain;
  z-index: auto;
}
